
/*HTML CSS*/
html{
    height:100%;
}
/*Putting a header with simple color and positioning*/
#header{
    background-size: cover;
    background-position-y: 40%;
    color:black;
    background-image: linear-gradient(to bottom right, lightblue, rgb(135, 128, 233));
    position: relative;
}

#header h1{
    font-size: 400%;
    text-align: center;
    font-weight: bold;
}

.jumbotron {
    padding: 10px;
}

/*Seperate color for the body to display the main city name on the header*/
body{
    background-image: linear-gradient(to bottom right, rgb(243, 112, 112), rgb(229, 236, 120));
    height: 100%;
}

label
{
    font-weight: bold;
}

#searchcity{
    width:75%;
}

#search-button-icon{
    width:15px;
    display:inline-block;
}

#current-weather {
    padding-left: 15px;
}

#clear-storage{
    color:black;
    font-size: 20px;
}
/*Weather card specs and position*/
.weather-card{
    width: 120px;
    background-color: #89ff5b;
    color: black;
    text-align: center;
    font-weight: bold;
    
}

/*The UV index colors apply when the javascript function for UVindex renders*/
.uv-favorable{
    background-color: green;
    color: black;
}

.uv-moderate{
    background-color: orange;
    color: black;
}

.uv-severe{
    background-color: red;
    color: black;
}

